<div class="h-screen flex flex-col bg-gray-50"
     data-controller="zoom">
  <header class="flex-none text-center mt-6 changa">
    <h1 class="font-bold text-4xl">
      <%= link_to "Astronomy Picture of the Day", root_path %>
    </h1>
    <h2 class="font-bold text-xl text-gray-400">By NASA</h2>
  </header>

  <p class="text-2xl text-gray-500 mt-3 text-center items-center justify-center bungee"><%= @apod_data['date'] %></p>

  <div class="flex-grow flex items-center justify-center">

    <div class="flex items-stretch ml-3 w-1/2 group relative">

      <a href="<%= apod_date_path((@apod_data['date'].to_date - 1).to_s) %>"
        class="flex items-center justify-center hover:text-gray-500 hover:bg-white border
             border-gray-200 rounded-lg bg-gray-300 text-gray-700 w-12
               opacity-0 group-hover:opacity-100 transition-opacity duration-300"
        aria-label="Previous">
        <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
        </svg>
      </a>

      <% if @apod_data['url'].include?("youtube") || @apod_data['url'].include?("vimeo") %>
        <div class="aspect-video w-full overflow-hidden rounded-md shadow-sm mx-4"
             data-action="click->zoom#open">
          <iframe
            class="w-full h-full"
            src="<%= @apod_data['url'] %>"
            allowfullscreen>
          </iframe>
        </div>
      <% else %>
        <div class="aspect-video w-full overflow-hidden rounded-md shadow-sm mx-4"
             data-action="click->zoom#open">
          <img
            class="h-full w-full object-cover"
            src="<%= @apod_data['url'] %>"
            alt="APOD Image"
            data-zoom-target="image">
        </div>
      <% end %>

      <% if @apod_data['date'].to_date < Date.today %>
        <a href="<%= apod_date_path((@apod_data['date'].to_date + 1).to_s) %>"
          class="flex items-center justify-center hover:text-gray-500 hover:bg-white border
             border-gray-200 rounded-lg bg-gray-300 text-gray-700 w-12
               opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          aria-label="Next">
          <svg class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
          </svg>
        </a>
      <% end %>
    </div>

    <div class="w-1/2 text-left">
      <h1 class="font-bold text-4xl mb-4 text-center changa"><%= @apod_data['title'] %></h1>

      <div class="pl-8 pr-12">
        <%= @apod_data['explanation'] %>
      </div>

      <div class="mt-5 px-8">
        <% if @apod_data['copyright'].present? %>
          <% if @apod_data['copyright'].include?(",") %>
            <div class="font-bold text-lg text-gray-500">
              <i class="fa-regular fa-copyright text-sm"></i>
              <%= @apod_data['copyright'] %>
            </div>
          <% else %>
            <div data-controller="typed"
                data-typed-strings-value='["<%= j @apod_data['copyright'] %>"]'
                data-typed-initialized="false"
                class="font-bold text-lg text-gray-500 mb-4">
              <i class="fa-regular fa-copyright text-sm"></i>
              <span data-typed-target="output"></span>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>


  <footer class="flex-none py-4">
    <nav class="container mx-auto flex justify-center">
      <ul class="flex gap-x-4">
        <li>
          <%= link_to archives_path, class:"btn w-16 h-10 flex items-center justify-center" do %>
            <i class="fa-regular fa-folder-open text-2xl"></i>
          <% end %>
        </li>
        <li>
          <%= link_to search_path, class:"btn w-16 h-10 flex items-center justify-center" do %>
            <i class="fa-brands fa-searchengin text-2xl"></i>
          <% end %>
        </li>
        <li>
          <%= link_to root_path, class:"btn w-16 h-10 flex items-center justify-center", data: {action: "click->zoom#open"} do %>
            <i class="fa-solid fa-expand text-2xl"></i>
          <% end %>
        </li>
        <li>
          <%= link_to root_path, class:"btn w-16 h-10 flex items-center justify-center", data: {action: "click->zoom#infoOpen"} do %>
            <i class="fa-solid fa-circle-info text-2xl"></i>
          <% end %>
        </li>
      </ul>
    </nav>
  </footer>

  <div data-zoom-target="zoomModal"
       data-action="click->zoom#close"
       class="zoom-modal fixed inset-0 bg-black bg-opacity-85 backdrop-blur-md items-center justify-center hidden opacity-0">
    <div class="child-zoom-modal relative opacity-0"
         data-zoom-target="childZoomModal">
      <img class="w-auto h-auto max-w-[calc(100vw-4rem)] max-h-[calc(100vh-4rem)] object-contain"
           src="<%= @apod_data['url'] %>"
           data-zoom-target="zoomedImage">
    </div>
  </div>

  <div class="info-modal fixed inset-0 bg-black bg-opacity-50 items-center justify-center hidden opacity-0"
       data-zoom-target="infoModal"
       data-action="click->zoom#infoClose">
    <div class="child-info-modal bg-white rounded-lg max-w-md w-full p-6"
         data-zoom-target="childModal">
      <h2 class="text-xl font-bold mb-4">Acknowledgments</h2>
      <p class="text-justify">I want to extend my gratitude to NASA for providing the incredible APOD API service that makes this project
         possible. This platform was created as part of my portfolio to showcase my skills as I pursue my first role
         in software development. It marks my first experience building with an API, and I thoroughly enjoyed
         the process, learning so much along the way.
      </p>
      <p class="mt-5 text-justify">
        I sincerely thank <b>you</b> for taking the time to explore my interpretation of the
        APOD interface. Your interest and feedback mean a lot to me!
      </p>
      <div class="mt-5">
        <a href="https://github.com/seb-ssabes"
           target="_blank"
           class="flex items-center p-4 mb-5 bg-gray-100 border border-gray-200 rounded-lg hover:bg-gray-200">
          <img src="https://avatars.githubusercontent.com/u/154523391?v=4"
               alt="Github Logo"
               class="w-11 h-11 mr-4 rounded-full">
          <span class="font-medium text-gray-700">
            <h2>Sebastian Olivares</h2>
            <p>Visit my Github profile</p>
          </span>
        </a>
        <a href="https://apod.nasa.gov/apod/"
           target="_blank"
           class="flex items-center p-4 bg-gray-100 border border-gray-200 rounded-lg hover:bg-gray-200">
          <img src="https://blogs.nasa.gov/spacestation/wp-content/uploads/sites/240/2023/01/nasa-logo-web-rgb-1024x512.png"
               alt="Nasa Logo"
               class="w-12 h-12 mr-4 rounded-full object-cover">
          <span class="font-medium text-gray-700">
            <p>Explore NASA's official Astronomy Picture of the Day website</p>
          </span>
        </a>
      </div>

    </div>
  </div>

</div>
