<div class="container mx-auto p-4 mb-10">
  <h1>Nasa's Astronomy Picture of the Day Archive</h1>
  <div>
    <%= link_to "Todays' Picture", root_path %>
    <%= link_to "Search (home)", root_path %>
  </div>
  <div class="flex justify-center mb-10 flex-col">

    <div class="my-8">
      <% @apod_data.each do |data| %>
        <div class="border-b pb-2 mb-4">
          <p><%= data['date'] %>: <%= link_to data["title"], apod_date_path(data['date']), class: "text-gray-500 hover:underline" %></p>
        </div>
      <% end %>
    </div>

    <div class="flex justify-center mt-8">
      <%= link_to "Previous 30 days", archives_index_path(page: params[:page].to_i + 1),
          class: "flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border
                  border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700
                  dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
      <% if params[:page].to_i > 0 %>
        <%= link_to "Next 30 days", archives_index_path(page: params[:page].to_i - 1),
            class: "flex items-center justify-center px-4 h-10 text-base font-medium text-gray-500 bg-white border
                    border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700
                    dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" %>
      <% end %>
    </div>

  </div>
</div>
